/* styles.css */

/* Estilizando el encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #eaeaea;
    border-bottom: 2px solid black;
}

/* Estilizando la sección de proyectos */
.mis-proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Mejorando el posicionamiento del contenido principal */
main {
    width: 80%;
    margin: 0 auto;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px 20px;
    text-align: left;
}

/* Añadiendo márgenes y paddings */
article {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 70px;
}

/* Creando una disposición de dos columnas en el detalle del proyecto */
.detalle-proyecto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Estilos adicionales */
h1, h2, h3 {
    color: #333;
}

a {
    color: #0077cc;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Añadiendo estilos al formulario de contacto */
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #0077cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0055a4;
}

img{
    height: 100px;;
}